.card {
    margin: 2rem 0;
}
  
.mgame-index-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:5%;
}

.mgame-show-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:5%;
}

.footer-nav {
    padding-top: 5%;
    height: "100%";
}

.back-button {
    margin-left: 19%;
}

.mgame-share-font {
    max-width: 50%;
    max-height: 100%;
    margin-inline-start: 15%;

}

.create-form {
    max-width: 400px;
    margin-inline-start: 15%;
    padding-top: 1%;
    padding-bottom: 10%;
    padding-right: 3%;
}

.edit-form {
    max-width: 400px;
    margin-inline-start: 15%;
    padding-top: 1%;
    padding-bottom: 10%;
    padding-right: 3%;
}